<ul>
<% current_user.keywords.each do |keyword| %>
  <li>
    <strong>
      <%= form_for keyword, remote: true, method: :delete do |f|%>
        <%= keyword.name %>
        <%= f.submit "X" %>
      <% end %>
    </strong>
  </li>
<% end %>
</ul>