/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *






 *= require_tree .
 *= require_self
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.eot"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.woff"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.ttf"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.svg"
 */


.pubfeed{
  padding-top: .5em;
  font-size: 2em;
  color:rgb(6, 42, 89);
}

.small {
  font-size: 1em;
  margin-top: -2.5em;
  float: left;
  color: rgb(7, 115, 116);
}

.custom-auth {
  margin-top: 2em;
  color:rgb(6, 42, 89);
}

.banner {
  padding-top: 4em;
}

.banner h3 {
  font-size: 1.5em;
  color: black;
}

.banner {
  background-color: transparent;
}

.jumbotron {
  height: 30em;
  background-image: image-url("germination.jpg");
  background-size:   cover;                      /* <------ */
  background-repeat: no-repeat;
  background-position: center center;            /* optionally, center the image */
}


.keywords {
  color: red;
}

.keyword_ul {
  overflow: auto;
  padding-top: 1em;
}

.keyword_li {
  float: left;
  list-style-type: none;
}

.keyword_li h5 {
  font-size: 2em;
  color: black;
  font-weight: 500;
}

h5 > input[type="submit"] {
 color: red;
 background:none!important;
 border:none; 
 padding:0!important;
 font: inherit; 
 cursor: pointer;
 visibility: hidden;
}


